@{
    ViewData["Title"] = "Informações de contato";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<section class="parte5">
    <div>
        <img src="~/img/banner/maps.png" class="parte5_1">
    </div>
    <div class="parte5_2">
        informações@brickinahand.com <br> (+351) 925 645 780 <br> Rua dos pescadores, 10
    </div>
    
</section>
