@{
    ViewData["Title"] = "Sobre Nós";
}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <section class="parte2">
        <div class="parte2_1"> A NOSSA HISTÓRIA</div>
        <div class="parte2_2">
            A Brick in a Hand Lda, sediada em Lisboa, é uma empresa 100% portuguesa, que nasceu em 2002 e é a responsável pela criação do conceito das lojas BRICK IN A HAND. A primeira loja BRICK IN A HAND abriu em Oeiras e era uma loja que era especializada em modelismo. 
            Aos poucos, expandiram o negócio a LEGOS, colecionáveis e artigos de merchandising. Actualmente possuem 3 lojas na zona centro do país. 
        </div>
    </section>
</body>